<h5>
  Calculate using these numbers now:
  [1,2,2,3,41,213,12]
</h5>
<button id = "calculate">Calculate!</button>
<div>
  Mean: {{mean}}
</div>

<div>
  Median: {{median}}
</div>

<div>
  Mode: {{mode}}
</div>
